/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/.gitignore
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/QueryM.iml
